@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

$border-color: #000000;
$fruit-color: #ff0000;
$snake-color: #d77328;
$wall-color: #a28039;
$font-family: 'Karla', sans-serif;
